@charset "utf-8";
/*star 项目列表*/
.batzbItem{margin:0 auto 40px}
.batzbItem .itemSearch{margin-bottom:16px;height:60px;line-height:60px;}
.batzbItem .itemSearch .searInputtxt{border:none;height:60px;line-height:60px;width:544px;float:left;padding:0 13px;border-right:0;font-size:18px}
.batzbItem .itemSearch .searInputbtn{background:#ff432a;float:left;width:130px;text-align:center;font-size:18px;color:#fff;}
.batzbItem .itemCondition{background:#fff;padding:7px 13px;}
.batzbItem .itemCondition .condiLine{height:34px;line-height:34px;margin:15px 0;}
.batzbItem .itemCondition .condiLine em{font-size:16px;color:#777;float:left;margin:0 8px 0 14px;}
.batzbItem .itemCondition .condiLine span{margin-left:4px;color:#555;padding:0 14px;float:left;height:34px;line-height:34px;cursor:pointer}
.batzbItem .itemCondition .condiLine span.condiOn,.itemCondition .condiLine span:hover{color:#ff432a}
.batzbItem .itemList{margin:16px 0;}
.batzbItem .itemList ul{overflow:hidden;}
.batzbItem .itemList ul li{border:1px solid #fff;background:#fff;overflow:hidden;cursor:pointer;padding:18px 13px 14px 26px;position:relative;margin-bottom:16px;}
.batzbItem .itemList ul li:hover{border:1px solid #ff432a}
.batzbItem .itemList ul li .itelst{height:34px;line-height:34px;margin:4px 0;color:#777;}
.batzbItem .itemList ul li .itelst span{float:left;width:100px;text-align:center;border:1px solid #51c1f5;color:#51c1f5;border-radius:4px;margin-right:12px;line-height:30px;}
.batzbItem .itemList ul li .itelst h3{float:left;font-size:16px;height:34px;font-weight:normal;color:#333;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;width:374px;}
.batzbItem .itemList ul li .itelst em{float:left;min-width:114px}
.batzbItem .itemList ul li .priceNum{position:absolute;color:#777;right:24px;top:42px;font-size:18px;line-height:30px;}
.batzbItem .itemList ul li .priceNum em{color:#ff432a;}
.itemright{background:#fff url(../images/batzbRightTitlebg.png) no-repeat center top;padding-top:8px;margin-bottom:15px;}
.itemright .ititle{height:54px;line-height:54px;padding:0 13px;color:#ff432a;font-size:18px;border-bottom;1px solid #f0f0f0}
.itemright .itqrcode{text-align:center;}
.itemright .itcontlist,.itemright .itcontlist ul{width:100%;overflow:hidden;}
.itemright .itcontlist li{border-top:1px solid #f0f0f0;}
.itemright .itcontlist li h3{font-size:16px;line-height:30px;font-weight:normal;padding:8px 13px 0;}
.itemright .itcontlist li p{line-height:30px;color:#777;height:30px;padding:0 13px 5px;}
.itemright .itcontlist li p em{color:#ff432a}
.itemright .itcontlist li .icodtime{border-top:1px solid #f0f0f0;color:#777;height:40px;line-height:40px;padding:0 13px;background:#fdfdfd;}
/*end 项目列表*/

/*star 项目详情*/
.itemdetails{border:1px solid #e5e5e5;background:#fff;margin:0 auto 40px;position:relative;}
.itemdetails .itemdetime{border-bottom:1px solid #e5e5e5;height:54px;line-height:54px;padding:0 13px;color:#777}
.itemdetails .itemdetime em{color:#fb5e46}
.itemdetails .itemdedows{border-bottom:1px solid #e5e5e5;padding:18px 13px 24px;overflow:hidden;}
.itemdetails .itemdedows .dowsleftcont{float:left;overflow:hidden;}
.itemdetails .itemdedows .dowsleftcont .docotit span{text-align:center;border:1px solid #51c1f5;color:#51c1f5;border-radius:4px;margin-right:14px;line-height:26px;display:inline-block;padding:0 14px}
.itemdetails .itemdedows .dowsleftcont .docotit h3{display:inline-block;font-weight:normal;line-height:26px;font-size:16px;}
.itemdetails .itemdedows .dowsleftcont .docotxt span{color:#777}
.itemdetails .itemdedows .dowsleftcont .docotit,.itemdetails .itemdedows .dowsleftcont .docotxt{overflow:hidden;height:34px;line-height:34px;}
.itemdetails .itemdedows .dowsrightcont{float:right;text-align:right;overflow:hidden}
.itemdetails .itemdedows .dowsrightcont .dowsenum{line-height:34px;font-size:16px;}
.itemdetails .itemdedows .dowsrightcont .dowsenum span{color:#fb5e46}
.itemdetails .itemdedows .dowsrightcont .dowsebtn{overflow:hidden}
.itemdetails .itemdedows .dowsrightcont .dowsebtn a{background:#ff432a;height:34px;line-height:34px;color:#fff;text-align:center;width:110px;float:right;border-radius:3px;}
.itemdetails .itemdecont{padding:18px 13px 64px;}
.itemdetails .itemdecont h3{font-size:16px;margin-bottom:8px;font-weight:normal;line-height:30px;}
.itemdetails .itemdecont .dowsaddress{color:#777;line-height:24px;margin-bottom:14px;}
.itemdetails .itemdecont p{text-indent:2em;line-height:26px;padding-bottom:8px;}
.itemdetails .itemdebtns{padding:24px;text-align:center;}
.itemdetails .itemdebtns a{display:inline-block;width:174px;height:36px;line-height:36px;border:2px solid #ff432a;background:#ff432a;border-radius:4px;color:#fff;margin:0 24px;font-size:16px;}
/*end 项目详情*/

/*star 资讯列表*/
.batzbNews .newsTitle{height:60px;line-height:60px;background:#fff;padding-left:14px;font-size:18px;}
.batzbNews .newsList ul li{padding:16px 13px;}
.batzbNews .newsList ul li .newsImg{float:left;width:90px;margin-right:12px;}
.batzbNews .newsList ul li .newsImg img{float:left;}
.batzbNews .newsList ul li .newsCont{float:left;width:570px;}
.batzbNews .newsList ul li .newsCont .newstit{height:30px;line-height:30px;padding-bottom:8px;}
.batzbNews .newsList ul li .newsCont .newstit span{font-size:16px;float:left;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;width:420px;}
.batzbNews .newsList ul li .newsCont .newstit em{float:right;}
.batzbNews .newsList ul li .newsCont p{line-height:24px;color:#777;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;height:48px;}
/*end 资讯列表*/

/*star 资讯详情*/
.newsdetCont{border:1px solid #e5e5e5;background:#fff;}
.newsdetCont .detaltitle{position:relative;font-size:16px;height:48px;line-height:48px;padding:0 13px;border-bottom:1px solid #e5e5e5;}
.newsdetCont .detaltitle .dtitleft{float:left;line-height:48px;}
.newsdetCont .detaltitle .dtitleft em{color:#51c1f5;}
.newsdetCont .detaltext{padding:13px;}
.newsdetCont .detaltext h3{text-align:center;font-weight:normal;font-size:18px;line-height:34px;padding:10px 0;}
.newsdetCont .detaltext .dexdet{text-align:center;padding-bottom:14px;height:30px;line-height:30px;}
.newsdetCont .detaltext .dexdet span{padding:0 14px;}
.newsdetCont .detaltext .dexdet em{color:#51c1f5;padding:0 14px;}
.newsdetCont .detaltext .dexline{padding-bottom:40px;}
.newsdetCont .detaltext .dexline p{padding-bottom:8px;line-height:28px;text-indent:2em;}
.newsdetCont .dexnextp{padding:0 13px;border-top:1px solid #e5e5e5;height:48px;line-height:48px;}
.newsdetCont .dexnextp a{color:#51c1f5;}
.newsdetCont .dexlinde{padding:13px;border-top:1px solid #e5e5e5;}
.newsdetCont .dexlinde h3{font-weight:normal;padding:2px 0 8px;}
.newsdetCont .dexlinde p{height:30px;line-height:30px;color:#51c1f5;overflow:hidden;}
.newsdetCont .dexlinde p a{float:left;width:340px;padding-right:34px;height:30px;line-height:30px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;color:#51c1f5;}
.newsdetCont .dexlinde p span{float:left;}
/*end 资讯详情*/

/*star 404页面*/
.errorcont{margin:24px auto 48px;text-align:center;}
.errorcont .errorbtn{width:520px;height:50px;line-height:50px;margin:8px auto 54px;}
.errorcont .errorbtn a{height:50px;line-height:50px;color:#ff432a;text-align;display:inline-block;text-align:center;font-size:18px;border:1px solid #ff432a;width:180px;border-radius:3px;}
/*end 404页面*/

/*star login*/
.lewdrBox{height:664px;width:100%;background:url(../images/loginbg.jpg) no-repeat center center;background-size:100%}
.lewdrBox .lewdrcont{overflow:hidden;width:1014px;margin:64px auto 0;}
.lewdrBox .lewdrcont .lewdettec{padding:30px 50px 40px;width:350px;float:right;background:#fff;-webkit-box-shadow: #ddd 0px 0px 10px;-moz-box-shadow: #ddd 0px 0px 10px;box-shadow: #ddd 0px 0px 10px;}
.lewdrBox .lewdrcont .lewdettec .lewtitle{padding-bottom:30px;height:30px;line-height:30px;text-align:center;font-size:18px;}
.lewdrBox .lewdrcont .lewdettec .lewinput{}
.lewdrBox .lewdrcont .lewdettec .lewinput .inputable{font-size:16px;border:1px solid #e4e0e1;width:304px;height:44px;line-height:44px;padding-left:44px;background:url(../images/loginIcon.png) no-repeat;outline:none;margin-bottom:20px;border-radius:2px;}
.lewdrBox .lewdrcont .lewdettec .lewinput .inputable:focus{border:1px solid #ff432a}
.lewdrBox .lewdrcont .lewdettec .lewinput .inputpass{background-position:left -56px;}
.lewdrBox .lewdrcont .lewdettec .lewinput .inputvcode{position:relative;}
.lewdrBox .lewdrcont .lewdettec .lewinput .inputvcode .inputable{background-position:left -109px;}
.lewdrBox .lewdrcont .lewdettec .lewinput .inputvcode .hueibtn{position:absolute;right:12px;top:8px;width:68px;height:30px;line-height:30px;text-align:center;color:#fff;border-radius:3px;background:#ffb346}
.lewdrBox .lewdrcont .lewdettec .lewlink{height:24px;line-height:24px;text-align:right;}
.lewdrBox .lewdrcont .lewdettec .lewlink a{color:#ff432a}
.lewdrBox .lewdrcont .lewdettec .lewbtnd{margin:24px 0;}
.lewdrBox .lewdrcont .lewdettec .lewbtnd a{background:#ff432a;height:50px;line-height:50px;text-align:center;font-size:18px;color:#fff;display:inline-block;width:100%;border-radius:2px;}
.lewdrBox .lewdrcont .lewdettec .lewbtns{margin:14px 64px;color:#777;}
.lewdrBox .lewdrcont .lewdettec .lewbtns .disetit{text-align:center;height:30px;line-height:30px;background:url(../images/loginbtns.jpg) no-repeat center 6px;}
.lewdrBox .lewdrcont .lewdettec .lewbtns .lewbtnlist{height:50px;line-height:50px;margin:10px 0;}
.lewdrBox .lewdrcont .lewdettec .lewbtns .lewbtnlist a{float:left;width:50px;height:50px;background:url(../images/loginbtns.jpg) no-repeat;}
.lewdrBox .lewdrcont .lewdettec .lewbtns .lewbtnlist a.wxinbtn{background-position:-5px -32px;}
.lewdrBox .lewdrcont .lewdettec .lewbtns .lewbtnlist a.qqinbtn{background-position:-85px -32px;margin:0 36px;}
.lewdrBox .lewdrcont .lewdettec .lewbtns .lewbtnlist a.wbinbtn{background-position:-166px -32px;}
.lewdrBox .lewdrcont .lewdettec .lewbtns .lewwnpass{display:block;text-align:center;margin:20px 0;}
.lewdrBox .lewdrcont .lewdettec .lewbtns .lewwnpass a{color:#ff432a}
/*end login*/

/*star register*/
.lewdrBox .lewdrcont .lewdettec .lewprotocol{display:inline-block;height:20px;line-height:20px;margin-bottom:6px;color:#777;}
.lewdrBox .lewdrcont .lewdettec .lewprotocol a{color:#ff432a}
/*end register*/

/*star 企业认证*/
.autheItem{width:1014px;margin:16px auto 40px;background:#fff}
.autheCont{padding:18px;}
.autheCont .aucoTop{background:#fff5e6;border:2px solid #f9bb62;height:64px;line-height:64px;text-align:center;color:#f9bb62;font-size:18px;}
.autheCont .aucoTop a{color:#ff432a;padding:0 8px;}
.autheCont .aucoToptxt{height:80px;padding:20px 0;line-height:80px;font-size:18px;text-align:center;}
.autheCont .aucoToptxt span{display:inline-block;height:80px;line-height:70px;padding-left:84px;background:url(../images/autheIcon-1.png) no-repeat;}
.autheCont .aucotistep{margin:10px auto;width:700px;height:44px;background:url(../images/autheIcon-2.png) no-repeat center top;}
.autheCont .aucotitxts{margin:20px auto;width:672px;}
.autheCont .aucotitxts .aucoline{margin-bottom:16px;overflow:hidden}
.autheCont .aucotitxts .aucoline span{float:left;height:38px;line-height:38px;width:80px;}
.autheCont .aucotitxts .aucoline .inputable{padding:0 5px;width:580px;border:1px solid #e6e6e6;height:36px;line-height:36px;float:left;}
.autheCont .aucotitxts .aucoline .inputable:focus{border:1px solid #ff432a}
.autheCont .aucotitxts .aucoImgr,.myautheItem .myautheRight .myaucotitxts .aucoImgr{padding-left:80px;overflow:hidden}
.autheCont .aucotitxts .aucoImgr #file_upload,.myautheItem .myautheRight .myaucotitxts .aucoImgr #file_upload{float:left;text-indent: -9999px;color: #fff;width: 235px;height: 200px;border: 1px solid #e6e6e6;background:url(../images/autheIcon-3.png) no-repeat center center;background-color:transparent;cursor:pointer;}
.autheCont .aucotitxts .aucoImgr .image_container{float:right;margin-left:16px;width:336px;height:200px;border:1px solid #e6e6e6;}
.autheCont .aucotitxts .aucoImgr .image_container #preview{width:100%;height:100%;border:none;}
.myautheItem .myautheRight .myaucotitxts .aucoImgr #preview{float:right;margin-left:16px;width:285px;height:200px;border:1px solid #e6e6e6;}
.autheCont .aucotitxts .aucoImgr .filetext{display:inline-block;overflow:hidden;color:#777;line-height:24px;padding:14px 0;}
.autheCont .aucotitxts .aucobtn,.myautheItem .myaucotitxts .aucobtn{padding:14px 0 14px 80px;}
.autheCont .aucotitxts .aucobtn a,.myautheItem .myaucotitxts .aucobtn a{display:inline-block;border-radius:4px;width:180px;height:40px;line-height:40px;background:#ff432a;text-align:center;color:#fff;font-size:18px;}
/*end 企业认证*/

/*star 我的认证*/
.myautheItem{width:1014px;margin:16px auto 40px;background:#f7f7f7;overflow:hidden;}
.myautheItem .myautheLeft{width:234px;float:left;}
.myautheItem .myautheLeft a{display:block;border-left:3px solid #f7f7f7;text-align:center;height:48px;line-height:48px;border-bottom:1px solid #f0f0f0;font-size:16px;}
.myautheItem .myautheLeft a.myauOn{background:#fff;border-left:3px solid #ff432a;color:#ff432a}
.myautheItem .myautheRight{float:right;width:700px;min-height:400px;background:#fff;padding:16px 40px;}
.myautheItem .myautheRight .myaucotistep{width:700px;height:44px;background:url(../images/myautheIcon-1.png) no-repeat center top;}
.myautheItem .myautheRight .myaucotitxts{width:700px;margin:24px 0;}
.myautheItem .myautheRight .myaucotitxts .myaucoline{margin-bottom:16px;overflow:hidden}
.myautheItem .myautheRight .myaucotitxts .myaucoline span{width:110px;float:left;line-height:38px;}
.myautheItem .myautheRight .myaucotitxts .myaucoline span i{text-align:right;font-size:18px;line-height:30px;padding-top:7px;color:#fb5e46;float:left;width:24px;padding-right:4px;}
.myautheItem .myautheRight .myaucotitxts .myaucoline .inputable{padding:0 5px;width:578px;border:1px solid #e6e6e6;height:36px;line-height:36px;float:left;}
.myautheItem .myautheRight .myaucotitxts .myaucoline .inputable:focus{border:1px solid #ff432a}
.myautheItem .myautheRight .myaucotitxts .aucoImgr{float:left;width:590px;padding:0;}
.myautheItem .myautheRight .myaucotitxts .aucoImgr #file_upload,.myautheItem .myautheRight .myaucotitxts .aucoImgr .image_container{width:285px;}

.myautheItem .myautheRight .jnaucoline{overflow:hidden;margin-bottom:8px;}
.myautheItem .myautheRight .jnaucoline .jnautitle{line-height:30px;}
.myautheItem .myautheRight .jnaucoline .jnaulista{padding:4px 0;margin-left:-12px;overflow:hidden}
.myautheItem .myautheRight .jnaucoline .jnaulista span{margin:2px 0 8px 12px;float:left;width:223px;height:38px;line-height:38px;text-align:center;border:1px solid #e6e6e6;cursor:pointer}
.myautheItem .myautheRight .jnaucoline .jnaulista span:hover{color:#ff432a;}
.myautheItem .myautheRight .jnaucoline .daijnaust span{border:1px solid #ff432a;color:#ff432a;}
.myautheItem .myautheRight .jnaucoline .yisjnaust span{border:1px solid #a8da5d;background:#a8da5d;color:#fff;}
.myautheItem .myaucotitxts .aucobtn{padding:30px;text-align:center;}
.myautheItem .myaucotitxts .aucobtn a{width:223px;}
.myautheItem .mytdauthe .myaucotitxts .myaucoline span{width:134px;}
.myautheItem .mytdauthe .myaucotitxts .myaucoline .inputable{width:554px}
.myautheItem .mytdauthe .myaucotitxts .aucobtn{padding:20px 134px;text-align:left;}

.myautheItem .mytderdrt .myaucotistep{background-position:center -56px;}
.myautheItem .mytderdrt .myaucotistep{background-position:center -113px;}
.myautheItem .mytderdrt .myaucotitxts .aucobtn{padding:0 0 14px;}
.myautheItem .mytderdrt .myaucotitxts .aucobtn a{width:160px}
.myautheItem .mytderdrt .myaucotitxts{margin:14px 0 114px}
.myautheItem .mytderdrt .myaucotitxts .mydrtoe{color:#ffb346;padding:4px 0 14px;}
.myautheItem .mytderdrt .myaucotitxts .myaucoline{margin-bottom:0;}
.myautheItem .mytderdrt .myaucotitxts .myaucoline span{color:#777}
.myautheItem .mytderdrt .myaucotitxts .myaucoline em{width:554px;padding:7px 5px;line-height:24px;float:left;}
/*end 我的认证*/

/*star 消息中心*/
.myautheItem .messthev{width:766px;padding:0;border-left:14px solid #f0f0f0;}
.myautheItem .messthev .messqxud{height:44px;line-height:44px;padding:0 28px;background:#fafafa}
.myautheItem .messthev .messqxud .aucobtn{display:inline-block;width:200px;margin-left:16px;}
.myautheItem .messthev .messqxud .aucobtn a{display:inline-block;border-radius:3px;width:60px;height:28px;line-height:28px;background:#ff432a;text-align:center;color:#fff;font-size:14px;}
.myautheItem .messthev .messqlist{padding:26px;}
.myautheItem .messthev .messqlist ul,.myautheItem .messthev .messqlist li{overflow:hidden;}
.myautheItem .messthev .messqlist li{margin-bottom:8px;}
.myautheItem .messthev .messqlist li .metimesp{float:left;width:70px;line-height:30px;}
.myautheItem .messthev .messqlist li .metilist{float:left;width:600px;}
.myautheItem .messthev .messqlist li .metilist p{line-height:30px;}
/*end 消息中心*/

/*star 个人中心*/
.myautheItem .perscenter{padding:0;width:780px;}
.myautheItem .perscenter .modifypass{padding:40px;}
.myautheItem .perscenter .modifypass .modpassline{height:40px;line-height:40px;margin-bottom:16px}
.myautheItem .perscenter .modifypass .modpassline span{width:114px;float:left;}
.myautheItem .perscenter .modifypass .modpassline .inputable{padding:0 8px;width:240px;border:1px solid #e6e6e6;height:36px;line-height:36px;float:left;}
.myautheItem .perscenter .modifypass .modpassline .inputable:focus{border:1px solid #ff432a}
.myautheItem .perscenter .modifypass .aucobtn{padding:10px 114px;}
.myautheItem .perscenter .modifypass .aucobtn a{display:inline-block;border-radius:3px;width:258px;height:36px;line-height:36px;background:#ff432a;text-align:center;color:#fff;font-size:16px;}

.myautheItem .perscenter .persdata{padding:40px;text-align:center;}
.myautheItem .perscenter .persdata .pdataimg{padding:14px 0;}
.myautheItem .perscenter .persdata .pdataimg img{width:80px;height:80px;border-radius:50%}
.myautheItem .perscenter .persdata .pdataimg .scdebtn{position:relative;display:block;margin-top:4px;line-height:26px;}
.myautheItem .perscenter .persdata .pdataimg .scdebtn a{color:#ff432a;}
.myautheItem .perscenter .persdata .pdataimg .scdebtn input{position:absolute;top:0;left:50%;height:26px;-moz-opacity:0;-khtml-opacity:0;opacity:0;filter:alpha(opacity=0);margin-left:-133px;cursor:pointer}
.myautheItem .perscenter .persdata .pdataimg p{color:#c8c8c8;line-height:20px;}
.myautheItem .perscenter .persdata .persline{width:300px;margin:14px auto;position:relative;}
.myautheItem .perscenter .persdata .persline p{height:30px;line-height:30px;text-align:left;}
.myautheItem .perscenter .persdata .persline p em{width:54px;float:left;padding-left:72px;}
.myautheItem .perscenter .persdata .persline p span{color:#777}
.myautheItem .perscenter .persdata .persline .optcity{cursor:pointer;color:#ff432a;}

.myautheItem .perscenter .citypopcont{display:none;text-align:left;width:400px;margin:14px 0 0 -50px;padding:14px;border:1px solid #e6e6e6;border-radius:5px;}
.myautheItem .perscenter .citypopcont .citypo{overflow:hidden;display:inline-block}
.myautheItem .perscenter .citypopcont .cityeng{float:left;height:24px;line-height:24px;padding-right:4px;color:#ff432a;font-size:16px;width:20px;}
.myautheItem .perscenter .citypopcont .citycon{float:left;width:270px;text-align:left;}
.myautheItem .perscenter .citypopcont .citycon span{font-size:14px;float:left;padding:0 8px;height:24px;line-height:24px;color:#333;cursor:pointer;}
.myautheItem .perscenter .citypopcont .citycon span:hover{color:#ff432a}

.myautheItem .perscenter .enterinfo{}
.myautheItem .perscenter .enterinfo .entinline{padding:0 20px;line-height:48px;border-bottom:1px solid #f0f0f0;}
.myautheItem .perscenter .enterinfo .entinline em{color:#777;width:124px;float:left;}
.myautheItem .perscenter .enterinfo .entinline span img{border:1px solid #f0f0f0;margin-top:18px;}
.myautheItem .perscenter .enterinfo .enterdite{margin:60px auto 154px;text-align:center}
.myautheItem .perscenter .enterinfo .enterdite a{color:#ff432a;display:inline-block;line-height:44px;font-size:16px;}
/*end 个人中心*/

/*star 个人中心-资金管理*/
.fundManag{}
.fundManag .findmaTop{background:#fff;padding:26px 34px;margin:16px 0;overflow:hidden}
.findmaTop .findprice{float:left;}
.findmaTop .findprice .fpritit{background:url(../images/fundmaIcon-1.png) no-repeat -3px -6px;padding-left:24px;line-height:24px;}
.findmaTop .findprice .fprinum{color:#ff432a;font-size:30px;line-height:30px;padding-top:6px;}
.findmaTop .findprice .fprinum em{font-size:20px;}
.findmaTop .findprice .fprinum font{font-size:16px;}
.findmaTop .findpbtns{float:left;margin:20px 24px 0;}
.findmaTop .findpbtns a{padding:0 14px;height:26px;line-height:26px;display:inline-block;border:1px solid #ff432a;background:#ff432a;color:#fff;border-radius:3px;margin-left:8px;}
.findmaTop .findpbtns a.drawbtn{background:#fff;color:#ff432a;}
.findmaList{margin-bottom:44px;background:#fff;}
.findmaList .findlnavs{height:50px;padding:0 24px;line-height:50px;border-bottom:1px solid #f0f0f0;}
.findmaList .findlnavs a{padding:0 10px;float:left;line-height:48px;height:48px;margin-right:34px;font-size:16px;border-bottom:2px solid #fff;}
.findmaList .findlnavs a.findnavOn,.findmaList .findlnavs a:hover{text-decoration:none;border-bottom:2px solid #ff432a;color:#ff432a;}
.findmaList .tximalis,.findmaList .tximalis ul{background:#fff;overflow:hidden}
.findmaList .tximalis ul{margin-bottom:14px;}
.findmaList .tximalis .pagnation{margin:14px 34px 34px 14px;}
.findmaList .tximalis li{border-bottom:1px solid #f0f0f0;height:40px;line-height:40px;padding:0 34px;}
.findmaList .tximalis li span{float:left;}
.findmaList .tximalis li .txitime{width:210px;}
.findmaList .tximalis li .txitext{width:260px;}
.findmaList .tximalis li .txitwos{width:360px;}
.findmaList .tximalis li .txitwos em{color:#ff432a}
.findmaList .tximalis li .txithre{width:150px;/* text-align:right;float:right */}
.findmaList .tximalis li .txithre em{color:#ff432a}
.findmaList .tximalis li .tximide{text-align:right;width:240px;}
.findmaList .tximalis li .tximide font{width:140px;}
.findmaList .tximalis li .tximide em{color:#ff432a;width:80px;display:inline-block}
.findmaList .tximalis li .txidety{width:300px;}
.findmaList .tximalis li .txidety em{color:#ff432a;padding-left:4px;}
.findmaList .tximalis li .txidewa{width:180px;text-align:right}
.findmaList .metamlis{margin:144px;text-align:center;color:#777;line-height:30px;}

.fundManag .fidetline{line-height:30px;}
.fundManag .fidetline span{line-height:24px;margin-top:2px;float:left;background:url(../images/fundmaIcon-1.png) no-repeat;color:#777;padding:0 18px 0 24px;}
.fundManag .fidetline span.finidtxt{background-position:-3px -52px;}
.fundManag .fidetline span.finyrtxt{background-position:-3px -6px;margin-top:17px;}
.fundManag .fidetline .fprinum{color:#ff432a;width:300px;font-size:30px;padding-top:10px;display:inline-block}
.fundManag .fidetline .fprinum em{font-size:20px;}
.fundManag .fidetline .fprinum font{font-size:16px;}
.findmaCont{background:#fff;margin-bottom:44px;}
.findmaCont .fimatitle{height:48px;line-height:48px;background:#edfed1;padding:0 31px;}
.findmaCont .fimatitle span{font-weight:bold;font-size:16px;padding-right:20px;}
.findmaCont .fimatitle em{color:#8fc53d}
.findmaCont .fimazffse{padding:60px 220px;}
.findmaCont .fimazffse .zffseline{height:58px;line-height:58px;}
.findmaCont .fimazffse .zffseline span{float:left;width:100px;}
.findmaCont .fimazffse .zffseline .zffsrabal{display:inline-block;}
.findmaCont .fimazffse .zffseline .zffsrabal label{margin-right:34px;}
.findmaCont .fimazffse .zffseline .zffsinput{display:inline-block;width:246px;border:1px solid #e6e6e6;height:36px;line-height:36px;padding:0 10px;margin-top:10px;}
.findmaCont .fimazffse .zffseline .zffsinput:focus{border:1px solid #ff432a}
.findmaCont .fimazffse .zffseline .zffsinput .inputable{float:left;border:none;width:204px;height:36px;line-height:36px;}
.findmaCont .fimazffse .zffseline .zffsinput span{color:#ff432a;display:inline-block;width:40px;text-align:right;}
.findmaCont .zffsebtn{height:44px;line-height:44px;margin:24px 34px;}
.findmaCont .zffsebtn a{margin-left:70px;display:inline-block;color:#fff;font-size:16px;width:268px;height:40px;line-height:40px;background:#ff432a;border-radius:4px;text-align:center}

.findmaCont .fimazfbed{padding:60px 170px;overflow:hidden;}
.findmaCont .fimazfbed .ermcode{float:left;padding:14px 64px 14px 0;border-right:1px solid #f0f0f0;}
.findmaCont .fimazfbed .ermtext{float:left;text-align:center;width:320px;padding-top:100px;}
.findmaCont .fimazfbed .ermtext p{line-height:30px;font-size:16px;}
.findmaCont .fimazfbed .ermtext p a{color:#ff432a;font-size:14px;}
.findmaCont .fimazfbed .ermtext p span{color:#e6e6e6;padding:0 4px;}
.findmaCont .fimawndew{padding:24px;}
.findmaCont .fimawndew .wndewli{overflow:hidden}
.findmaCont .fimawndew .wndewli label{float:left;margin:10px 17px;*margin:10px 14px;}
.findmaCont .fimawndew .wndewli label input{float:left;margin-top:18px;}
.findmaCont .fimawndew .wndewli label img{border:1px solid #f0f0f0;margin-left:10px;}
.findmaCont .fimawndew .zffsebtn{margin-left:210px;}

.findmaCont .fimaxixcz{}
.findmaCont .fimaxixcz .fimresult{text-align:center;padding:140px 0}
.findmaCont .fimaxixcz .fimresult .zffsebtn a{margin:14px 0;}
.findmaCont .fimaxixcz .fimcztp{border-bottom:1px solid #f0f0f0;padding:24px  0 24px 280px;}
.findmaCont .fimaxixcz .fimcztp .fimzpline{height:34px;line-height:34px;}
.findmaCont .fimaxixcz .fimcztp .fimzpline span{color:#969696;display:inline-block;width:120px;}
.findmaCont .fimaxixcz .fimcztp .fimzpline em{width:240px;display:inline-block;}
.findmaCont .fimaxixcz .fimcztp .fimzpline a{color:#ff432a}
.findmaCont .fimaxixcz .fimctxt{padding:14px  0 14px 280px;}
.findmaCont .fimaxixcz .fimctxt .fimphone{color:#969696;margin-bottom:24px;}
.findmaCont .fimaxixcz .fimctxt .fimphone span{color:#ff432a}
.findmaCont .fimaxixcz .fimctxt .fimphline{height:44px;line-height:44px;margin-bottom:12px;overflow:hidden}
.findmaCont .fimaxixcz .fimctxt .fimphline span{float:left;width:100px;line-height:36px;}
.findmaCont .fimaxixcz .fimctxt .fimphline .zffsinput{float:left;width:276px;border:1px solid #e6e6e6;height:36px;line-height:36px;padding:0 10px;}
.findmaCont .fimaxixcz .fimctxt .fimphline .zffsinput:focus{border:1px solid #ff432a}
.findmaCont .fimaxixcz .fimctxt .fimphline .zffsinput .inputable{float:left;border:none;width:234px;height:36px;line-height:36px;}
.findmaCont .fimaxixcz .fimctxt .fimphline .zffsinput span{color:#ff432a;display:inline-block;width:40px;text-align:right;}
.findmaCont .fimaxixcz .fimctxt .fimphline .aucoImgr{float:left;}
.findmaCont .fimaxixcz .fimctxt .fimphline .aucoImgr .scdebtn{position:relative;float:left;}
.findmaCont .fimaxixcz .fimctxt .fimphline .aucoImgr .scdebtn a{width:100px;height:34px;line-height:34px;background:#ff432a;color:#fff;text-align:center;border-radius:3px;display:inline-block;margin-right:12px;}
.findmaCont .fimaxixcz .fimctxt .fimphline .aucoImgr .scdebtn #file_upload{position:absolute;top:0;left:0;-moz-opacity:0;-khtml-opacity:0;opacity:0;filter:alpha(opacity=0);}
.findmaCont .fimaxixcz .fimctxt .fimphline .aucoImgr #preview{float:left;width:184px;height:88px;border:1px solid #e6e6e6;background:#f0f0f0;}
.findmaCont .fimaxixcz .fimctxt .zffsebtn{margin:40px 30px}
/*end 个人中心-资金管理*/

/*star 项目大厅-项目详情*/
.itemdetails .xmdtsdet{height:44px;line-height:44px;text-align:center;}
.itemdetails .xmdtsdet span{display:inline-block;line-height:44px;padding-right:24px;background:url(../images/deldownIcon.png) no-repeat right center;cursor:pointer}
.itemdetails .itemdexmdt{display:none}
.itemdetails .itemihuocont{border-top:14px solid #f0f0f0;}
.itemdetails .itemihuocont .ihucotop{height:50px;line-height:50px;padding:0 18px;border-bottom:1px solid #f0f0f0;position:relative}
.itemdetails .itemihuocont .ihucotop span{float:left;}
.itemdetails .itemihuocont .ihucolist{padding:18px;border-bottom:1px solid #f0f0f0}
.itemdetails .itemihuocont .ihucolist h3{line-height:34px;font-weight:normal;color:#777}
.itemdetails .itemihuocont .ihucolist p{line-height:24px;padding:3px 0;}
.itemdetails .itemihuocont .ihucolist p em{padding-right:10px;}
.itemdetails .itemihuocont .ihucolist .ihucimg{padding:4px 0 14px;overflow:hidden;width:100%}
.itemdetails .itemihuocont .ihucolist .ihucimg img{max-width:176px;float:left;margin-right:10px;}
.itemdetails .itemdetext{color:#777;line-height:24px;text-align:left;padding:24px;}
/*end 项目大厅-项目详情*/

/*star 接包者*/
.myautheItem .iebozleft a{text-align:left}
.myautheItem .iebozleft a span{padding-left:24px;float:left;}
.myautheItem .iebozleft a em{padding-right:24px;float:right;}
.myautheItem .iebozright{width:766px;padding:0;border-left:14px solid #f0f0f0;}
.myautheItem .iebozright .ibozrline{border-bottom:14px solid #f0f0f0;}
.myautheItem .iebozright .ibozrline .ibzlintop{height:46px;line-height:46px;background:#f8f8f8;padding:0 20px;}
.myautheItem .iebozright .ibozrline .ibzlintop .ibzoptime{float:left;color:#777}
.myautheItem .iebozright .ibozrline .ibzlintop .ibzoptype{float:right;}
.myautheItem .iebozright .ibozrline .ibzlincont{padding:10px 20px 20px;overflow:hidden}
.myautheItem .iebozright .ibozrline .ibzlincont .ibzconleft{float:left;width:500px;}
.myautheItem .iebozright .ibozrline .ibzlincont .ibzconleft h3{font-weight:normal;font-size:16px;line-height:34px;}
.myautheItem .iebozright .ibozrline .ibzlincont .ibzconleft em{margin:5px 0;display:inline-block;width:100px;text-align:center;border:1px solid #51c1f5;color:#51c1f5;border-radius:4px;margin-right:12px;line-height:30px;}
.myautheItem .iebozright .ibozrline .ibzlincont .ibzconleft span{display:block;color:#777;line-height:34px;}
.myautheItem .iebozright .ibozrline .ibzlincont .ibzconright{float:right;width;200px;}
.myautheItem .iebozright .ibozrline .ibzlincont .ibzconright p{text-align:right;line-height:34px;color:#777;}
.myautheItem .iebozright .ibozrline .ibzlincont .ibzconright p span{padding-right:6px;}
.myautheItem .iebozright .ibozrline .ibzlincont .ibzconright p.ysonprice{font-size:16px;}
.myautheItem .iebozright .ibozrline .ibzlincont .ibzconright p.ysonprice span{color:#ff432a;padding-left:6px;float:right;*float:none;font-size:20px;}
.myautheItem .iebozright .ibozrline .ibzlincont .ibzconright p.deidslink a{padding:0 3px;color:#51c1f5;margin-left:14px;border-bottom:1px solid #51c1f5;text-decoration:none;}
.myautheItem .iebozright .ibozrline .ibzlincont .ibzconright p.deidstype em{display:inline-block;width:120px;text-align:center;border:1px solid #51c1f5;color:#51c1f5;border-radius:4px;font-size:16px;line-height:34px;}
/*end 接包者*/

/*star 项目大厅-发布项目_选择包招-招标*/
.bzbxuadItem{margin:16px auto 40px;background:#fff;}
.bzbxuadItem .bzbxuacont{padding:34px 58px;}
.bzbxuadItem .bzbxuacont .bzbxline{line-height:38px;padding-bottom:16px;overflow:hidden;}
.bzbxuadItem .bzbxuacont .bzbxline span{float:left;width:124px;line-height:38px;}
.bzbxuadItem .bzbxuacont .bzbxline .inputable{padding:0 10px;width:280px;border:1px solid #e6e6e6;height:36px;line-height:36px;}
.bzbxuadItem .bzbxuacont .bzbxline .projation{width:300px;float:left;}
.bzbxuadItem .bzbxuacont .bzbxline .projation em{width:86px;height:26px;line-height:26px;text-align:center;border:1px solid #e6e6e6;margin:0 10px 10px 0;display:inline-block;cursor:pointer;}
.bzbxuadItem .bzbxuacont .bzbxline .projation em.proiOn{border:1px solid #ff432a;background:#ff432a;color:#fff}
.bzbxuadItem .bzbxuacont .bzbxline .zhpoduype{float:left;}
.bzbxuadItem .bzbxuacont .bzbxline .zhpoduype em{line-height:36px;border:1px solid #e6e6e6;padding:0 14px;text-align:center;display:inline-block;margin-right:14px;cursor:pointer;}
.bzbxuadItem .bzbxuacont .bzbxline .zhpoduype em.zhpdOn{border:1px solid #ff432a;background:#ff432a;color:#fff}
.bzbxuadItem .bzbxuacont .bzbxline .zhpoduype p{position:relative;display:inline-block;height:36px;line-height:36px;padding:0 14px;border:1px solid #ffdba8;background:#fff5e6;color:#f9793a;margin-top:16px;}
.bzbxuadItem .bzbxuacont .bzbxline .zhpoduype p i{background:url(../images/autheIcon-8.png) no-repeat;position:absolute;top:-15px;left:20px;width:28px;height:28px;}
.myautheItem .iebozright .ibozrline .ibzlincont .ibdworight{margin-top:50px;}
.myautheItem .iebozright .ibozrline .ibzlincont .ibdworight span{color:#fb5e46}
.myautheItem .iebozright .ibozrline .ibzlincont .ibdworight p.deidstype em{margin-top:5px;border:1px solid #fb5e46;background:#fb5e46;color:#fff;cursor:pointer;}
.xquefbox{width:1014px;margin:16px auto 10px;}
.xquefbox .aucoTop{background:#fff5e6;border:2px solid #f9bb62;height:64px;line-height:64px;text-align:center;color:#f9bb62;font-size:18px;}
.xquefbox .aucoTop a{color:#ff432a;padding:0 8px;}
.xquefbox .xquebtn{height:40px;line-height:40px;margin-top:20px;text-align:right;}
.xquefbox .xquebtn a{display:inline-block;width:120px;height:34px;line-height:34px;text-align:center;color:#fff;background:#51c1f5;border-radius:4px;}
.xquefbox .xquebtn a em{padding-left:30px;background:url(../images/autheIcon-9.png) no-repeat left center;}
/*end 项目大厅-发布项目_选择包招-招标*/

.aboutcont{padding:20px 28px;}
.aboutcont p{line-height:26px;padding-bottom:6px;}
.maplistcont{padding:0;}
.maplistcont .mapsline{border-bottom:16px solid #f0f0f0;padding:28px 28px 10px 28px;overflow:hidden;}
.maplistcont .mapsline a{float:left;width:156px;height:40px;margin:0 16px 16px 0;color:#777;line-height:40px;text-align:center;border:1px solid #e6e6e6}
.maplistcont .mapsline a:hover{border:1px solid #fb5e46;color:#fff;background:#fb5e46;text-decoration:none;}
.maplistcont .mapsline p{line-height:34px;font-size:16px;}

/*star 接包*/
.signupbox{position:absolute;left:50%;top:340px;margin-left:-232px;width:464px;min-height:280px;border:1px solid #e6e6e6;background:#fff;border-radius:5px;}
.signupbox .signtitle{height:48px;line-height:48px;padding:0 14px;border-bottom:1px solid #f0f0f0}
.signupbox .signtitle i{width:28px;height:28px;position:absolute;top:0;right:0;padding:10px;background:url(../images/downIcon-1.png) no-repeat center center;cursor:pointer;}
.signupbox .signcont{padding:20px 30px;}
.signupbox .signcont .signline{height:44px;line-height:44px;margin-bottom:12px;overflow:hidden}
.signupbox .signcont .signline span{float:left;width:70px;line-height:36px;}
.signupbox .signcont .signline .signinput{float:left;width:296px;border:1px solid #e6e6e6;height:36px;line-height:36px;padding:0 10px;}
.signupbox .signcont .signline .signinput .inputable{float:left;border:none;width:248px;height:36px;line-height:36px;}
.signupbox .signcont .signline .signinput span{color:#ff432a;display:inline-block;width:40px;text-align:right;}
.signupbox .signupbtn{text-align:center;}
.signupbox .signupbtn a{display:inline-block;color:#fff;font-size:16px;width:200px;height:40px;line-height:40px;background:#ff432a;border-radius:4px;text-align:center}
.signupbox .resutxt{text-align:center;padding:64px 104px 24px;line-height:24px;}
.tiworkbox{top:auto;bottom:284px;}
.tiworkbox .signcont{padding:10px 30px 30px;}
.tiworkbox .signcont .signline{height:auto;}
.tiworkbox .signcont .signline span{width:100%}
.tiworkbox .signcont .signline .inputarea{height:80px;float:left;width:380px;border:1px solid #e6e6e6;line-height:22px;padding:10px;}
.tiworkbox .signcont .signline .signinputimg{float:left;height:38px;line-height:38px;position:relative;margin-bottom:14px;}
.tiworkbox .signcont .signline .signinputimg .inputable{border:1px solid #e6e6e6;height:36px;line-height:36px;float:left;width:300px;}
.tiworkbox .signcont .signline .signinputimg .inputbtn{padding-left:34px;color:#fff;float:left;width:66px;line-height:38px;height:38px;background:#ff432a url(../images/autheIcon-10.png) no-repeat 6px center}
.tiworkbox .signcont .signline .signinputimg #file_upload{position:absolute;width:100px;height:38px;right:0;top:0;-moz-opacity:0;-khtml-opacity:0;opacity:0;filter:alpha(opacity=0);cursor:pointer}
/*end 接包*/

/*star 发包*/
.itemdetails .itemihuocont .ihucotop i{width:130px;height:130px;position:absolute;right:10px;top:0;}
.itemdetails .itemjuover .ihucolist{border:none;}
.itemdetails .itemjuover .ihucolist h4{font-weight:normal;line-height:34px;}
.itemdetails .itemjuover .inputarea{width:954px;height:244px;border:1px solid #f0f0f0;padding:10px;}
.itemdetails .itemihuocont .ihucotop .objuover{float:right;}
.itemdetails .itemihuocont .ihucotop .objuover a{width:114px;height:34px;line-height:34px;text-align:center;color:#fff;background:#51c1f5;display:inline-block;border-radius:4px;}
/*end 发包*/