<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--<property name="connection.url">jdbc:mysql://27.151.123.121:11023/bfzb</property>-->
    <property name="connection.url">jdbc:mysql://121.43.37.173:3306/bfzb</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.idg.bfzb.server.usercenter.model.dto.UcUserInfoEntity"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>